[Unit]
Description=Service-file for mounting nfs/sshfs-mounts at startup with a bash-script in /usr/local/sbin/gowakeup-start

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/sbin/gowakeup-start
ExecStop=/bin/true

[Install]
WantedBy=multi-user.target
